#form{
  display: none;
}
nav ul li{
  display: none;
}
body{
  background: none;
  background-color :#fff;
  font-family :Serif;
  font-size :15pt;
  float:none;
  width:100%;
  margin:0;
  padding:0;
  text-align:left;
}
h2 {
	padding-bottom:2pt;
	padding-left:0;
	font:bold 20pt Serif;
	border-bottom:1pt solid #000;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

p {
  text-align:justify;
  margin:2pt 1pt 6pt 0;
  font-size:12pt;
  color:#000;
}
