
/* @media screen and (min-width: 600px) {
  nav {
     display: block;
   }
   main {
    flex-grow: 1;
  }
  body{
overflow-x: hidden !important;


  }
  #form{
    display: none;
  }


  nav>ul>li{
    display:inline;

  }
  nav li a{
    display:block;

  }

@media screen and (min-width: 900px) {
  nav > ul > li {
    display: inline-block;
}
body{
background-position: fixed;
}

nav>ul>li{
  display:inline;

}
nav li a{
  display:block;

} */
