* {
 box-sizing : border-box;
 margin : 0px;
 padding : 0px;
}
@font-face {
 font-family: 'Samantha';
 src: url('Samantha.ttf');/*parti prit*/
}
/* @font-face {
 font-family: 'DACTYLOG';
 src: url('DACTYLOG.ttf');
} */
body{
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 background-image: url("journal-1577764_960_720.png"), url("416549_kozha_zoloto_blesk_treshhiny_tekstura_1680x1050_www.Gde-Fon.com.jpg");
 background-repeat:repeat;
 background-size: contain;
 overflow-x: hidden !important;
 font-family: DACTYLOG;
 color:#2F1B0C;
 font-size: 15px;
}
p{
  margin-left: 70px;
  margin-top: 50px;
  font-size: 2em;
}
h1{
  font-size: 70px;
  font-weight: normal;
  margin-left: 70px;
  font-family: Samantha;
}
h2{
  font-family: Samantha;
  color:#FBF2B7;
  font-size: 60px;
  margin-left: 70px;
  margin-bottom: 30px;
}
header.main-container {
  background-image: url("Cw-0wITWIAAWIzq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width : 100vw;
  margin: 0;
}
.main-container img {
  width: 100vw;
  height: 100vh;
}
.title{
  position: absolute;
  margin: -100px;
  margin-left: 830px;
  margin-top: -240px;
  color:#FBF2B7;
  font-weight: normal;
  /* transform: translateX(20px); */
}
.title:hover{
  transform: rotate(-45deg);
}
p#left{
  margin-left: 700px;
  margin-top: -120px;
}
.title3{
  z-index:2;
  position: absolute;
  margin-left: 650px;
  margin-right:150px;
  margin-top:-450px;
  height: 250px;
}
.title3bis{
  height:300px;
  z-index:0;
  margin-left:750px;
  margin-top:-475px;
  position: absolute;
}
.pos{
  margin-left: 20px;
}
.postit{
  display: flex;
}
.postit2{
  display: flex;
}
.postit img{
  flex-direction: inline;
  height: 200px;
  width: 200px;
  margin-left: 200px;
  margin-bottom: 40px;
}
.postit p{
  flex-direction: inline;
  height: 200px;
  width: 200px;
  margin-left: 240px;
  margin-bottom: 40px;
  z-index: 2;
  position: absolute;
  color:#FBF2B7;
}
.postit2 img{
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  margin-left: 200px;
}
.postit2 p{
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  margin-left: 240px;
  z-index:2;
  position: absolute;
  color:#FBF2B7;
}
.paper{
  margin-top: -670px;
  margin-left: 685px;
  margin-bottom: 800px;
  color:#FBF2B7;
}
.right p{
  margin-left: 240px;
  margin-bottom:-110px;
  margin-top: 50px;
}
.flex{
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}
.flex1{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.p1p2{
  display: flex;
}
.p1{
  flex-direction: column;
  flex-basis: 50%;
  margin-top:-240px;
  margin-left: 20px;
  margin-bottom: 100px;
}
.p1 img{
  height: 60px;
  width: auto;
  float: left;
  margin-left: 70px;
  margin-top:53px;
}
.p2{
  flex-direction: column;
  flex-basis: 50%;
  font-size: 50px;
  margin-left: 70px;
  margin-right: 80px;
  margin-top: -190px;
  margin-bottom: 100px;
  font-size: 2em;
}
nav{
  position: fixed;
  z-index: 1000;
}
nav ul{
  display: flex;
}
nav>ul>li{
  display:inline;
  width: 200px;
  margin-left: 0;
  margin-top: -40px;
  background-color: #FFFAF0;
  /* background-size: cover; */
  border: 10px solid transparent;
}
nav ul li a:hover{
  color:#FFFAF0;
  border-radius: 2px;
  font-weight: bold;
  background-image: url('Carte_de_Coeur_KHREC.png');
  background-size: contain;
  background-repeat: no-repeat;
}
nav ul li:hover{
  background-color: #6E0B14;
}
nav li a{
  text-decoration: none;
  color:#BA3B3E;
  text-align: center;
  display:block;
  font-size: 20px;
}
.progress {
  animation: back2 linear 10s infinite;
  margin-left: 70px;
}
.progressa{
  animation: back2 linear 10s infinite;
  margin-left: 700px !important;
  position: absolute;
  z-index:2;
}
#bana{
  margin-top: 197px;
  margin-bottom:340px;
}
#P{
  margin-bottom: 130px;
}
#F{
  margin-bottom: 130px;
}
#L{
  margin-bottom: 150px;
  margin-top: -235px;
}
#L img{
  margin-left: 360px;
  margin-top: -150px;
}
.true{
  margin-left: 290px;
  margin-right: -150px !important;
}
#E{
  margin-bottom: 320px;
}
#C1{
  margin-bottom: 260px;
}
#C{
 margin-bottom: 1500px;
}
#C p{
 text-align: center;
}
@keyframes back2
{
  0%{ color:#91283B; height: 100%; }
  25%{ color:#6B0D0D; height: 75%; }
  50%{ color: #730800; height: 50%; }
  75%{ color: #850606; height: 25%; }
  100%{ color:#AC1E44; height:0%; }
}
#form{
  margin-left: 200px;
  margin-top: -125px;
  position: absolute;
}
.b li{
  font-weight: bold;
  color:#6D071A;
  font-size: 20px;
  margin-left: 80px;
}
.size{
  font-size: 30px;
  margin-left: 60px;
}
.bord{
  height: 1200px;
  width: 600px;
  margin-left: 95px;
  position: absolute;
  z-index:1;
  margin-top: 25px;
}
.cam{
  z-index: 0;
  margin-bottom:-1040px;
  position: sticky;
  width:1200px;
  margin-left: -200px;
  margin-top: 40px;
}
iframe{
  z-index: 2;
  position: absolute;
  margin-top:80px;
  margin-left: 170px;
}
.logo{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin-left: 290px;
  margin-top: -350px;
  padding: 10px;
}
.space{
  margin: 210px;
}
.anima{
  display: flex;
  position: absolute;
  z-index: 2;
  margin-left: -250px;
  margin-top: -350px;
}
.anima1{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  margin-left: -200px;
  margin-left: -180px;
  margin-top: -210px;
}
.anim{
 margin: -230px;
 margin-top: -75px;
}
#polaroid{
  margin-left:-290px;
  margin-bottom:200px;
  margin-top: -270px;
}
 footer p{
  text-align: center;
}
.alice{
  text-align: center;
  margin-top: -150px;
  margin-left: 300px;
  margin-top: -20px;
}
.footer{
  margin-left: 200px;
  margin-top: -100px;
  margin-bottom: -140px;
}
