* {
 box-sizing : border-box;
 margin : 0px;
 padding : 0px;
}
@font-face {
 font-family: 'Samantha';
 src: url('Samantha.ttf');/*parti prit*/
}
@font-face {
 font-family: 'DACTYLOG';
 src: url('DACTYLOG.ttf');
}
body{
 width: 90%;
 margin-left; auto;
 margin-right; auto;
 background-image: url("journal-1577764_960_720.png"), url("416549_kozha_zoloto_blesk_treshhiny_tekstura_1680x1050_www.Gde-Fon.com.jpg");
 background-repeat:repeat;
 background-size: contain;
 overflow-x: hidden !important;
 font-family: DACTYLOG;
}
p{
  margin-left: 70px;
  margin-top: 50px;
  font-size: 2em;
}
h1{
  font-size: 70px;
  font-weight: normal;
  margin-left: 70px;
  font-family: Samantha;
}
header.main-container {
  background-image: url("Cw-0wITWIAAWIzq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width : 100vw;
  margin: 0;
}
.main-container img {
  width: 100vw;
  height: 100vh;
}
.title{
  position: absolute;
  margin: -100px;
  margin-left: 830px;
  margin-top: -200px;
  color:#FBF2B7;
  border-radius: 2px;
  font-weight: normal;
}
p#left{
  margin-right: 20px;
  margin-top: 30px;
}
.title3{
  z-index:2;
  position: absolute;
  margin-left: 450px;
  margin-right:150px;
  margin-top:-450px;
}
.title3bis{
  height:550px;
  z-index:0;
  margin-left:650px;
  margin-top:-480px;
  position: absolute;
}
.pos{
  margin-left: 20px;
}
.postit{
  display: flex;
}
.postit2{
  display: flex;
}
.postit img{
  flex-direction: inline;
  height: 200px;
  width: 200px;
  margin-left: 200px;
  margin-bottom: 40px;
}
.postit p{
  flex-direction: inline;
  height: 200px;
  width: 200px;
  margin-left: 230px;
  margin-bottom: 40px;
  z-index: 2;
  position: absolute;
}
.postit2 img{
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  margin-left: 200px;
}
.postit2 p{
  flex-wrap: wrap;
  height: 200px;
  width: 200px;
  margin-left: 230px;
  z-index:2;
  position: absolute;
}
.paper{
  margin-top: -670px;
  margin-left: 760px;
  margin-bottom: 800px;
}
.right p{
  margin-left: 230px;
  margin-bottom:-110px;
}
.flex{
  display: flex;
  flex-direction: column;
}
.flex1{
  display: flex;
  flex-direction: column;
}
.p1p2{
  display: flex;
}
.p1{
  flex-direction: column;
  flex-basis: 50%;
  margin-top:-290px;
  margin-left: 20px;
  margin-bottom: 100px;
}
.p1 img{
  height: 60px;
  width: auto;
  float: left;
  margin-left: 70px;
  margin-top:53px;
}
.p2{
  flex-direction: column;
  flex-basis: 50%;
  font-size: 50px;
  margin-left: 150px;
  margin-top: -240px;
  margin-bottom: 100px;
  font-size: 2em;
}
h2{
  font-family: Samantha;
  color:#2E006C;
  font-size: 60px;
  margin-left: 70px;
  margin-bottom: 30px;
}
nav{
  position: fixed;
}
nav ul{
  display: flex;
}
nav>ul>li{
  display:inline;
  width: 200px;
  margin-left: 0;
  margin-top: -40px;
  background-image: url('cache.png');
  background-size: contain;
  border: 10px solid transparent;
  z-index: 2 !important;
}
nav ul li a:hover{
  color:#FBF2B7;
  border-radius: 2px;
}
nav li a{
  text-decoration: none;
  color:#BA3B3E;
  text-align: center;
  display:block;
  font-size: 20px;


}
.progress {
  animation: back2 linear 10s infinite;
  margin-left: 70px;
}
.progressa{
  animation: back2 linear 10s infinite;
  margin-left: 700px !important;
  position: absolute;
  z-index:2;
}
#bana{
  margin-top: 197px;
  margin-bottom:380px;
}
#P{
  margin-bottom: 80px;
}
#F{
  margin-bottom: 130px;
}
#L{
  margin-bottom: 150px;
  margin-top: -190px;
}
#L img{
  margin-left: 360px;
  margin-top: -150px;
}
#E{
  margin-bottom: 300px;
}
#C1{
  margin-bottom: 240px;
}
#C{
 margin-bottom: 1500px;
}
#C p{
 text-align: center;
}
@keyframes back2
{
  0%{ color: #2E006C; height: 100%; }
  25%{ color: #4B0082; height: 75%; }
  50%{ color: #FF7F50; height: 50%; }
  75%{ color: #F4A460; height: 25%; }
  100%{ color: #E2BC74; height:0%; }
}
#form{
  margin-left: 200px;
  margin-top: -125px;
  position: absolute;
}
.b{
  font-weight: bold;
  color:#2E006C;
  margin-left: 80px;
}
.b li{
  font-weight: bold;
  color:#2E006C;
  font-size: 20px;
}
.size{
  font-size: 30px;
  margin-left: 70px;
}
.bord{
  height: 1200px;
  width: 600px;
  margin-left: 95px;
  position: absolute;
  z-index:1;
  margin-top: 25px;
}
.cam{
  z-index: 0;
  margin-bottom:-1040px;
  position: sticky;
  width:1200px;
  margin-left: -200px;
  margin-top: 40px;
}
iframe{
  z-index: 2;
  position: absolute;
  margin-top:80px;
  margin-left: 170px;
}
.logo{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  margin-left: 290px;
  margin-top: -350px;
  padding: 10px;
}
.space{
  margin: 210px;
}
.anima{
  display: flex;
  position: absolute;
  z-index: 2;
  margin-left: -250px;
  margin-top: -350px;
}
.anima1{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 2;
  margin-left: -200px;
  margin-left: -180px;
  margin-top: -210px;
}
.anim{
 margin: -230px;
 margin-top: -75px;
}
#polaroid{
  margin-left:-290px;
  margin-bottom:200px;
  margin-top: -270px;
}
 footer p{
  text-align: center;
}
.alice{
  text-align: center;
  margin-top: -150px;
  margin-left: 300px;
  margin-top: -20px;
}
.footer{
  margin-left: 200px;
  margin-top: -100px;
  margin-bottom: -140px;
}
@media (min-width: 600px) and (max-width: 900px){
nav{
  flex-direction: column;
  display: block;
}
body{
  background-size: contain;
}
.logo{
 display: flex;
 flex-direction: column;
 position: absolute;
 padding: 200px;
}
header.main-container{
 width: inherit;
}
}
@media (max-width: 600px){
 header.main-container{
  width: inherit;
 }
 nav ul {
  display: none;
 }
 body {
  background: none;
 }
.logo{
  display: flex;
  flex-direction: column;
}
 #form{
  display: none;
 }
}
